body {
  margin: 0;
  padding: 0;
  text-align: center;
}

.App {
  font-family: sans-serif;
  text-align: center;
}

input,
form > button {
  padding: 5px 10px;
  margin: 5px;
}

form > button {
  background-color: rgb(0, 188, 212);
  border-radius: 4px;
  border-width: 2px;
  border-style: outset;
  border-color: rgb(0, 188, 212);
  color: white;
  font-weight: bold;
}

form > button:focus {
  outline: none;
}

form > button:hover {
  background-color: rgb(0, 148, 212);
  border-color: rgb(0, 148, 212);
}

.task {
  margin: 10px auto;
  background-color: rgb(0, 148, 212);
  width: 300px;
  padding: 8px 20px;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  text-align: left;
}

.task:hover {
  background-color: rgb(0, 168, 160);
}

.task span {
  float: right;
  color: black;
}

.task button {
  margin: auto 3px;
  color: white;
  background-color: black;
  border: black;
  border-radius: 4px;
}

.task button:hover {
  color: black;
  background-color: white;
}
